@-webkit-keyframes shiny-btn1 {
  0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
  80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
  81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
  100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .App {
    text-align: center;
  }
  
  .split-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .left-half, .right-half {
    position: absolute;
    height: 100%;
    transition: background-color 0.5s;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .left-half {
    width: 50%;
    left: 0;
    background-color: black;
    color: white;
  }
  
  .right-half {
    width: 50%;
    right: 0;
    background-color: white;

  }

  .Intro {
    margin-bottom: 40px;
  }

  .SDSU_Logo {
    display: block;
    height: 175px;
    width: 250px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
  }

  .SDSU_Logo_Font {
    margin-top: 150px;
  }
 
  .Links {
    margin-top: 270px;
  }

  .Footer {
    margin-top: 270px;
  }

  .photo {
    display: block;
    width: 500px;
    height: 300px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
  }

  .SocialIcons{
    display: flex;
    gap: 8px;
    margin: 30px 30px 30px 30px;
    align-items: center;
    overflow: auto;
  }

  .SocialIcons svg{
    width: 100%;
    height: auto;
  }

  button {
    margin: 20px;
    outline: none;
  }

  /* 11 */
.btn-11 {
  height: 100px;
  width: 200px;
  margin-top: 70px;
  overflow: hidden;
  transition: all 0.4s ease;
  background-color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn-11:hover {
  background: #000;
  color: #fff;
}
.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    background-color: white;
    animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:active{
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


