body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .App {
    text-align: center;
  }
  
  .split-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .left-half, .right-half {
    position: absolute;
    height: 100%;
    transition: background-color 0.5s;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .left-half {
    width: 50%;
    left: 0;
    background-color: black;
    color: white;
  }
  
  .right-half {
    width: 50%;
    right: 0;
    background-color: white;

  }

  .Intro {
    margin-bottom: 33px;
  }

  .SDSU_Logo {
    display: block;
    height: 175px;
    width: 250px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
  }

  .SDSU_Logo_Font {
    margin-top: 150px;
  }
 
  .Links {
    margin-top: 250px;
  }

  .photo {
    display: block;
    width: 500px;
    height: 300px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
  }

  .SocialIcons{
    background-color: grey;
    color: grey;
    filter:grayscale(1);
  }